/* TODO Add site wide styles */

body {
    font-family: 'Roboto', arial, sans-serif;
    color: #202124;
    font-size: 14px;
    /* word-wrap: break-word; */
}

a {
    text-decoration: none;
    color: #202124;
}

input {
    border: none;
    background-color: transparent;
}

button, .note .title {
    cursor: pointer;
}


/* NotesPage & ArchivePage */

.Nav {
    /* background-color: yellow; */
    /* background-color: #e0e0e0; */
    border: 1px solid #e0e0e0;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.WholePage {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.NotesPage {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideBar {
    min-width: 250px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.SideBar > a {
    padding: 10px;
    height: 25px;
}

#page {
    background-color: #FEEFC3;
    border-radius: 0 25px 25px 0;
}

#notPage:hover {
    background-color: #f1f3f4;
    border-radius: 0 25px 25px 0;
}

.allNotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* All feature buttons  */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
  }

.features, .title-pin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features {
    padding-top: 15px;
}

.ft-btn {
    border: none;
    background-color: transparent;
}

.ft-btn .material-symbols-outlined {
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
    transition: 0.1s;
}

.ft-btn .material-symbols-outlined:hover {
    background-color: #c3c7d0b2;
    transition: 0.1s;
    color: black;
}

/* SingleNote feature buttons */
.note button {
    color: transparent;
    background-color: transparent;
    transition: 0.7s;
}

.note:hover button {
    color: #494c52;
    transition: 0.7s;
}


/* Other */

.title {
    /* font-family: 'Noto Sans Mende Kikakui', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.createNote {
    position: relative;
    width: 600px;
    margin: 32px auto 16px auto;
    /* width: fit-content; */
    /* margin: 32px auto 50px auto; */
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
    /* border: 1px solid #e0e0e0; */
    /* border-radius: 20px; */
    /* box-sizing: border-box; */
    /* box-shadow: 0px 2px 7px gray; */
}
